<div id="bg" class="d-flex h-100">
    <div id="box" class="justify-content-center align-self-center">
            <div id="current-time">Current Time: {{ result }}</div>
            <div id="clock">{{ hours }}:{{ minutes }}</div>
            <div id="wrapper" class="control-buttons">
                <button class="btn btn-dark" (click)="addFirstDigit()">+</button>
                <button class="btn btn-dark"(click)="removeFirstDigit()">-</button>
                <button class="btn btn-dark" (click)="addSecondDigit()">+</button>
                <button class="btn btn-dark" (click)="removeSecondDigit()">-</button>
            </div>
            <div id="wrapper" class="btn primary">
                <button>SUBMIT</button>
            </div>
    </div>
</div>

